/* Master Styles */
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}


/*
 * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
 * for the full set of master styles used by the documentation samples
 */